p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(230, 13, 13)
}


.test{
    color :indianred
} 

#last-par{
    color:green
}

